<div class="inner">
    <h3 class="masthead-brand">Cover</h3>
    <nav class="nav nav-masthead">
                        <a [routerLinkActive]="['active']"  class="nav-link" [routerLink]="['/home']">
                            Home
                        </a>
                        <a [routerLinkActive]="['active']"  class="nav-link" [routerLink]="['/counter']">
                            Counter
                        </a>
                        <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/fetch-data']">
                            Fetch data
                        </a>
    </nav>
</div>