@page
@model IntegrationsModel
@{
    ViewData["Title"] = "Integrations";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


<br/>

<a class="login-button" role="button">
    <img src="images/spotify.png"/>
    Login with Spotify
</a>