@page
@model IntegrationsModel
@{
    ViewData["Title"] = "Integrations";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


<p>Please login to continue!</p>

<a class="login-button">
    <img src="images/spotify.png"/>
    Login with Spotify
</a>